body{
  
  min-width: 320px;
  
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0;
  font-family:  Open Sans, sans-serif;
  font-size: 14px;
}

.logo{
  width: auto;
  height: 20px;
}



a{
  text-decoration: none;
color: #444;
font-size: .75rem;
   
}

a:hover{
  color: #ff5722;
}

.pagetitle{
  font-size: 1.5rem;
 
 }

.label{
  font-size: .75rem;
  color: #9b9b9b;
  
}

.leftside{
  width: 30%;
}
.rightside{
  width: 70%;
}

.bigvalue{
  font-size: 2.625rem;
  font-weight: 300;
  line-height: 1.3;
}

.headerpadding{
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.secondary-title{
  font-size: 1rem
}

.banner{
  height: 230px;
  width: 250px;
}

.page-title-small{
  font-size: 1.125rem;
}

.form-select{
  line-height: normal;
  border-radius: 0px;
  padding: 3px 15px;
  font-size: 0.75rem;
}

.holdingsearch{
  font-size: 0.75rem;
  border: 1px solid #eee;
 
}
.inputsearch{
  border: 0px;
  width: 80px;
  transition: ease-in-out, width .35s ease-in-out;
  border: 0px;
  outline: none;
}





.inputsearch:focus {
  width: 150px;
  outline: none;
}

.linkblue{
  color: blue;
  font-size: 0.625rem;
}

.decimal{
font-size: 0.5rem;
}

.bigvalue2{
  font-size: 1.75rem;
}

.navhover{
  border-bottom: 2px solid white  ;
  padding-top: 12px;
  padding-bottom: 12px;
}
.navhover:hover{
  
  border-bottom: 2px solid #ff5722;
  cursor: pointer;
  color: #ff5722;
}

.navhover:hover:hover a{
  color:#ff5722 ;
}

.fundbutton{
  font-size: 14px;
  border: 1px solid #4caf50;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 3px;

}
.fundbutton:hover{
  opacity: .8;
  color: white;
  outline: 0;
  
}

.withdrawbutton{
  font-size: 14px;
  border: 1px solid #4184f3;
  background-color: #4184f3;
  color: white;
  padding: 10px;
  border-radius: 3px;

}
.withdrawbutton:hover{
  opacity: .8;
  color: white;
  outline: 0;
  
}

.opacity75{
  opacity: 0.7;
}

.active{
  color: #ff5722  ;
}

/*------------sidebar--------------------------*/

.sidebarsearch{
  border: 0px;
  width: 100%;
  
  border: 0px;
  outline: none;
  padding: 15px 10px 15px 0px;
}

::placeholder{
  font-size: .8125rem;
  color: #9b9b9b;
  overflow: hidden;
  
}

.searchicon{
  font-size: .7125rem;
  color: #9b9b9b;
  /* padding: 12px 12px 12px 12px; */
}

.hidehover{
  visibility: hidden  ;
}

.hidemenubutton{
  display: none;
}

.showmenu{
 top:9px
}

.sidebartextsize{
  font-size: .8125rem;
}

.padding12{
  padding: 12px;
}

.hoverbuttondisign{
  padding: 2px 12px 2px 12px;
  margin: auto;
  border-radius: 3px;
  border: 1 px solid black;
}
.marketdepth{
  display: none;
}


