body {
  min-width: 320px;
  line-height: 1.6;
  font-weight: 400;
  letter-spacing: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #f9f9f9;
  color: #444;
}

.table {
  color: #444;
}

.text-red {
  color: #ff5722;
}

.leftside {
  width: 30%;
}

ul,
.sidebartextsize {
  width: 28%;
}

.logo {
  width: auto;
  height: 20px;
}

a,
.label,
.label_position,
.label_position2,
.form-select,
.holdingsearch,
.niftyheader,
.modal_order {
  font-size: 0.75rem;
}

.display-none {
  display: none;
}

a {
  text-decoration: none;
  color: #444;
}

.pagetitle {
  font-size: 1.5rem;
}

.label,
::placeholder,
.searchicon,
.addinstrument,
.binoculars,
.pagelabel,
.orderjournal,
.lighttext,
.diablebg,
th,
.smallinput {
  color: #9b9b9b;
}

.loginimage {
  height: auto;
  width: 12px;
}

.loaderpage{
  width: 100%;
  height: calc(100% - 50px);
}

/* .leftside {
  width: 30%;
} */

.rightside {
  width: 70%;
}

.fs-14{
  font-size: 14px!important;
}

.bigvalue {
  font-size: 2.625rem;
  font-weight: 300;
  line-height: 1.3;
}

.headerpadding {
  padding-top: 12.5px;
  padding-bottom: 12.5px;
}

.secondary-title {
  font-size: 1rem;
  margin-bottom: 20px;
}

.banner {
  height: 230px;
  width: 250px;
}

.page-title-small {
  font-size: 1.125rem;
}

.form-select {
  line-height: normal;
  border-radius: 0px;
  padding: 3px 15px;
}
.form-select{
  border-radius: 3px;
  border-color: #eee!important;
}

.form-select:focus,.alertsearch:focus{
  box-shadow: none;
  /* border-color: none; */
  color: #444;
  border-color: black;
}
.modal-content{
  border-radius: 3px;
}


.holdingsearch,
.biginput,
.order_select,
.input_gtt,
.smallinput {
  border: 1px solid #eee;
}

.inputsearch {
  border: 0px;
  width: 80px;
  transition: ease-in-out, width 0.35s ease-in-out;
  border: 0px;
  outline: none;
}

.inputsearch:focus {
  width: 150px;
  outline: none;
}

.form-control{
  border-radius: 3px;
  border-color: #eee;
}

.form-control:focus{
  box-shadow: none;
  /* border-color: none; */
  color: #444;
  border-color: black;
}

.linkblue,
.headerdim,
.gtt_label,
.xxlsmall {
  font-size: 0.625rem !important;
}

.linkblue,
.linkbluetext,
.buybadge,
.checked,
.order_link {
  color: #4184f3;
}

.decimal {
  font-size: 0.5rem;
}

.navhover {
  border-bottom: 2px solid white;
  padding-top: 12px;
  padding-bottom: 12px;
}

.navhover:hover {
  border-bottom: 2px solid #ff5722;
  cursor: pointer;
}

.fundbutton {
  border: 1px solid #4caf50;
  background-color: #4caf50;
  color: white;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
}

.fundbutton:hover {
  opacity: 0.8;
  color: white;
  outline: 0;
}

.withdrawbutton {
  border: 1px solid #4184f3;
  background-color: #4184f3;
  color: white;
  padding: 10px;
  border-radius: 3px;
  font-size: 14px;
}

.withdrawbutton:hover {
  opacity: 0.8;
  color: white;
  outline: 0;
}

.opacity75,
.xxlsmall {
  opacity: 0.7;
}

.height60 {
  height: 60px;
}

.opacity65 {
  opacity: 0.65;
}

.active,
.activepage,
.activepage,
.text-danger,
.order_link:hover,
a:hover,
.navhover:hover:hover a {
  color: #ff5722;
}

.border-red {
  border: 1px solid #ff5722 !important ;
}

.headerright {
  -webkit-box-flex: 1;
  -ms-flex: 1 1;
  flex: 1 1;
  display: flex;
  position: relative;
  align-items: center;
}

input:focus,
textarea:focus,
select:focus{
  box-shadow: none;
  /* border-color: none; */
  color: #444;
  border-color: black;
}

input,textarea,select{
  border-radius: 3px;
  border-color: #eee;
}






.dropdown-menu.show {
  transform: translate3d(0px, 41px, 0px) !important;
  border-radius: 0px;
  /* top:105%; */
  /* right: 15px; */
  border-width: 0 1px 1px 1px;
  border-color: #eee;
}

.avatar {
  /* width: 25px; */
  /* height: 25px; */
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  background-color: rgba(63, 81, 181, 0.1);
  font-size: 9px;
  font-weight: 300;
  color: rgb(63, 81, 181);
  /* line-height: 26px; */
  padding: 5px;
}

/*------------sidebar--------------------------*/

.sidebarsearch {
  border: 0px;
  width: 100%;
  outline: none;
  padding: 15px 10px 15px 0px;
}

::placeholder {
  overflow: hidden;
}

.smalltext,
::placeholder,
.bi-bell {
  font-size: 0.8125rem;
}

.searchicon {
  font-size: 0.7125rem;
}

.hidehover {
  visibility: hidden;
}

.hidemenubutton {
  animation: fadeout 1s;
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 0.75;
  }

  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.25;
  }

  100% {
    opacity: 1;
  }
}

.menu {
  visibility: hidden;
  color: #4184f3;
  line-height: 1;
  border: 1px solid #4184f3;
  font-size: 1rem;
  background-color: white;
  border-radius: 2px;
  font-weight: bolder;
  padding: 0px 9px;
}

.menutr:hover .menu {
  visibility: visible;
}

.showmenu {
  top: 9px;
  animation: fadeIn 200ms;
  transition: background-color 0.15s ease;
}

.sidebartextsize {
  position: fixed;
  height: calc(100% - 50px);
  /* width: 28%; */
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: 0.8125rem;
}

.padding12 {
  padding: 12px;
}

.hoverbuttondisign {
  padding: 4px 14px !important;

  border-radius: 3px;
  border: 1px solid #9b9b9b;
  transition: opacity 0.15s;
  font-size: 11px;
  font-weight: 600;
}

.marketdepth {
  display: none;
}

.sidebarhover {
  border-bottom: 1px solid #f1f1f1;
  transition: background-color 0.15s;
}

.bg-primary {
  background-color: #4184f3;
  opacity: 0.78;
}

h2 {
  font-size: 1.5em;
}

h1 {
  font-size: 2em !important;
}

.tablepadding {
  padding: 10px 12px !important;
}

.hoverbuttondisign:hover {
  opacity: 0.75;
}

.bgwhite {
  background-color: white;
  transition: background-color 0.15s;
}

.bgwhite:hover {
  background-color: #9b9b9b;
  color: white;
}

.sidebarpagination {
  background-color: white;
  border-right: 1px solid #eee;

  transition: background-color 0.15s;
  cursor: pointer;

  padding: 10px 20px;
  cursor: pointer;
  text-align: center;

  display: inline-block;
}

ul {
  margin: 0px;
  padding: 0px;
  position: fixed;
  bottom: 0px;
  border-top: 1px solid #eee;
  /* width: 28%; */
  background-color: white;
}

.setting {
  list-style-type: none;
  position: relative;
  z-index: 100;
  float: right;
  cursor: pointer;
}

.setting-btn {
  display: inline-block;
  padding: 10px;
}

.sidebarpagination:hover {
  background-color: #eee;
}

.activepage {
  background-color: #eee;
}

.binoculars {
  font-size: 5rem;
}

.btn {
  border-radius: 3px;
}

.btn-primary {
  background-color: #4184f3;
  border-color: #4184f3;
  font-size: 0.925rem;
}

.bg-primary {
  background-color: #4184f3;
}

.text-danger {
  color: #df514c !important;
}

.text-success {
  color: #4caf50 !important;
}

.pagelabel {
  top: 0px;
  right: 0px;
  padding: 16px 6px 12px 12px;
}

.searchsidebar {
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: var(--color-bg-default);
}

.instrument {
  max-height: calc(100% - 100px);
  width: 100%;
  overflow-x: hidden;
}

/*----------------- scrollbar ----------------*/

::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.2);
}

.allpagepadding {
  padding: 30px 20px 30px 30px;
}

/* --------------holding ---------------------------------*/
.tablepaddinghold {
  padding: 10px 12px !important;
}

table thead th {
  padding: 15px 12px !important;
}

.border-bottom,
.border-end,
.border-top,
.border-start,
.sidebarhover:hover {
  border-color: #f1f1f1 !important;
}

/*----------------order section ----------------------*/

.wrapper {
  min-height: calc(100vh - 60px);
  background-color: white;
}

.orderjournal {
  font-size: 80px;
}

.orderhistory {
  font-size: 14px;
}

.emptystate {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.empty-icon {
  max-width: 100px;
  display: block;
  margin: 0 auto;
}

.buybadge {
  background-color: rgba(65, 132, 243, 0.1);
  font-size: 0.6125rem;
  padding: 2px 10px;
  border-radius: 2px;
}

.completebadge {
  color: #4caf50;
  background-color: rgba(76, 175, 80, 0.1);
  padding: 2px 10px;
  border-radius: 2px;
  font-size: 0.6125rem;
}

.sellbadge {
  color: #d9863d;
  background-color: rgba(217, 134, 61, 0.1);
  padding: 2px 10px;
  border-radius: 2px;
  font-size: 0.6125rem;
}

.gtt_label {
  padding: 2px 10px;
  text-align: center;
  border-radius: 2px;
  display: inline-block;
  letter-spacing: 0.5px;
  color: #844aeb;
  background-color: rgba(132, 74, 235, 0.1);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.bg-white {
  background-color: #fff;
}

.bg-red {
  background-color: #ff5722;
}

.border3 {
  border-radius: 3px 3px 0 0;
}

.click {
  cursor: pointer;
}

.order_header {
  text-align: center;
  padding: 10px 20px;
  margin-bottom: -2px;
  border-bottom: 2px solid #eee;
}

.order_content {
  border-bottom: 2px solid #eee;
}

.checked {
  border-bottom: 2px solid #4184f3;
}

.padding810{
  padding: 8px 10px;
}

.biginput {
  border-radius: 3px;
  padding: 5px 10px;
  color: #444;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 21px;
}

.order_select {
  border-radius: 3px;
  padding: 11px 15px;
  color: #444;
  width: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 1.3em;
}

.label_position {
  top: -8px;
  left: 25px;
  background-color: white;
  padding: 0px 3px;
  z-index: 1;
}

.label_position2 {
  top: -7px;
  left: 8px;
  background-color: white;
  padding: 0px 3px;
  z-index: 1;
}

.input_gtt {
  border-radius: 3px;
  padding: 10px 15px;
  color: #444;
  width: 100%;
  box-sizing: border-box;
}

.diablebg {
  background-image: url("../public/image/disbale.png");
  opacity: 0.4 !important;
  background-size: cover;
  background-position: center;
}

.form-check-input:focus {
  box-shadow: none;
}

.order_link:hover {
  color: #ff5722;
}

.smallinput {
  display: inline-block;
  text-align: center;
  width: 60px;
  padding: 0 0px;
  margin: 0;

  line-height: normal;
  appearance: textfield;

  font-size: 14px !important;
}

.orderpadding {
  padding: 10px 20px;
}

.modal-content {
  width: 700px;
}

.text-75{
  font-size: 0.75rem;
}

.bg-light,
.order_content {
  background-color: #f9f9f9;
}

.modal {
  background-color: rgba(255, 255, 255, 0.5) !important;
  perspective: 1000px;
}

.list-item {
  cursor: grab;
}

.next-position {
  opacity: 0.2;
}
.loginpage {
  display: flex;
  align-items: center;
  /* margin-top: auto; */
  /* margin-bottom: auto; */
  justify-content: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
}

.padding15 {
  padding: 10px 15px;
}

.logininput {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 10px 15px;
  color: #444;
  width: 100%;
  /* font-size: 16px; */
}

.loginlabel {
  position: absolute;
  font-size: 0.65rem;
  top: -13px;
  left: 8px;
  background-color: white;
  padding: 5px;
  display: block !important;
}

.logininput ::placeholder {
  font-size: 50px;
}

.loginpadding {
  padding: 40px;
  width: 360px;
}

.loginlogo {
  max-width: 60px;
}
